// custom variable
//  rgb(240, 190, 9);
$primary:#FF8484;
$light:#D6FFF6;
$secondary:#2374AB;
// import the function and variables
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
    "altlight": #4DCCBD,
    "altdark": #58008C

);
$theme-colors: map-merge($custom-theme-colors,$theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';